<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This page was created(is still being created) as a project for "Research Seminar I" on
  Faculty of Informatics and Information Technology which is a part of Slovak Technical University in Bratislava.
  Its main goal is to provide students an easy way to organize or be a part of tutoring event in one of the subjects.
</p>
<p>
  Layout and core of the page and is created using the <a href="www.railstutorial.org">Rails tutorial book</a> by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
</p>